@font-face {
    font-family: "TT Rabbits Dummy"; /* Имя шрифта */
    src: url("./fonts/TT\ Rabbits\ Dummy.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "TT Rabbits Goody"; /* Имя шрифта */
    src: url("./fonts/TT\ Rabbits\ Goody.otf"); /* Путь к файлу со шрифтом */
}

* {
    margin: 0;
    padding: 0;
}

.body {
    background: #122A5B;
    color: #FFF;
    display: flex;
    height: 100vh;
}

.mobile {
    margin: auto;
    width: 640px;
    text-align: center;
    font-size: 48px;
    overflow: hidden;
    font-family: "TT Rabbits Goody";
    display: none;
}

.card {
    width: 640px;
    border: 5px dashed #FFD132;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.closed-card {
    height: 340px;
    display: none;
}

.opened-card {
    display: none;
}

.invitation {
    font-family: "TT Rabbits Goody";
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
}

.birthday {
    color: #FFD132;
    font-family: "TT Rabbits Goody";
    font-weight: bold;
}

.open {
    width: 250px;
    height: 100px;
    display: block;
    margin: 75px auto;
    font-family: "TT Rabbits Goody";
    /* color: #FFD132; */
    color: #FFF;
    font-size: 36px;
    background: none;
    outline: 3px dashed #FFD132;
    border: none;
    /* font-weight: bold; */
    cursor: pointer;
}

.open:hover {
    outline-style: solid;
}

.open:active {
    outline-style: solid;
    outline-color: #CFA102;
}

.text {
    font-family: "TT Rabbits Goody";
    font-size: 36px;
    margin: 20px 40px;
}

.anya {
    color: #FFD132;
    font-weight: bold;
}

.signature {
    font-family: "TT Rabbits Goody";
    font-size: 36px;
    margin-left: 460px;
}

.star {
    width: 20px;
    position: absolute;
}

.star-top-left {
    top: 15px;
    left: 15px;
}

.star-top-right {
    top: 15px;
    right: 15px;
}

.star-bottom-left {
    bottom: 15px;
    left: 15px;
}

.star-bottom-right {
    bottom: 15px;
    right: 15px;
}

.big-star {
    width: 40px;
    position: absolute;
}

.big-star-left{
    top: 170px;
    left: 70px;
    transform: rotate(15deg);
}

.big-star-right{
    top: 170px;
    right: 70px;
    transform: rotate(-15deg);
}